<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dXP -->
      <package
            uri="http://www.example.org/dXP"
            class="pl.edu.agh.uci.dXP.DXPPackage"
            genModel="model/dXP.genmodel"/>
   </extension>

</plugin>
